BasedOnStyle: LLVM

IndentWidth: 4
IndentAccessModifiers: false
AccessModifierOffset: -4
UseTab: Never

DerivePointerAlignment: false
PointerAlignment: Left

AllowShortBlocksOnASingleLine: true
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: WithoutElse

AlignAfterOpenBracket: BlockIndent
BinPackParameters: false
AllowAllParametersOfDeclarationOnNextLine: false
